.home {
    background-color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 1vh;
    overflow-y:auto;

   
  

}
.left {

    width: 20%;
    height: 100%;
    border-radius: 8px;
    right: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.74);
}

.right{

    width: 90%; 
    height:100%;
    padding-top: 5px;
    border-radius: 14px;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
   
}


.left_mini{
    
    width: 5%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.74);
    display: flex;
    padding-top: 5px;
    

}

.right_mini{

    width: 95%;
    padding-top: 5px;
    /* padding-left: 25px; */
    border-radius: 5px;
    /* margin-top: 0px; */
    /* position:-webkit-sticky; */
    background-color: rgb(255, 255, 255);
   
}