.row__1 > tr >th{

  padding: 10px;
  background-color: rgba(204, 191, 191, 0.116);
  width: 38vh;
  border: none;
  margin-bottom: 8px;
  border-radius: 8px;
}

.data__1 {
  padding: 10px;
  background-color: rgba(223, 215, 215, 0.116);
  border: none;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  border-radius: 5px;

}

.search_dropdown_icons{
  display: flex;
  align-items: center;

}

.button{
  border:1px solid rgba(25, 45, 233, 0.863) ;
  height: 40px;


}
.A__1{
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  justify-content: space-between;

}
.A__2{
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  height:35px;
  align-items: center;

}

.start__date{
  margin-left: 25px;
}
.uyilai__logo{
  display: flex;
  align-items: center;
  width: 110px;
  height: 110px;

}
.end_date
{
  margin-left: 25px;
}

.donation__report{
  border: 1px solid rgba(133, 133, 133,0.2);
  width: 100%;
  margin: auto;
  border-radius: 5px;
  min-height: 400px;
  margin-bottom: 15px;
}
.report__heading{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8ecec;
  border-radius: 5px;
  padding: 20px 0px;
}
.report_heading_logo{
  /* border: 1px solid blue; */
  margin-right: 2%;
}
.report_heading_logo img{
  height: 100px;
  width: 100px;
}
.report_heading_content{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}
.report_heading_content h1{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
.report_heading_content h3{
  font-size: 20px;
}
.report_heading_content h5{
  font-size: 15px;
}
.report_heading_content h6{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 2px;
}

/* table style */
.report__records{
  text-align: center;
}
/* report__Actions */
.report__Actions {
  width: 100%;
  margin: auto;
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  justify-content: right;
}
.report__Actions button{
  padding: 0.5% 5%;
  /* margin-left: 10px; */
  border: 1px solid rgb(140, 140, 140);
  margin-bottom: 20px;
  background-color: rgb(140, 140, 140);
  border-radius: 5px;
}
.report__Actions button:hover{
  padding: 0.5% 5%;
  margin-left: 10px;
  border: 1px solid rgb(92, 92, 92);
  background-color: rgb(189, 189, 189);
  margin-bottom: 20px;
  border-radius: 5px;
}
input:hover{
  cursor: pointer;

}
.Search{
  display: flex;
  margin-left: 30px;
  height:40px;
  align-items: center;
  /* border: none; */
  border:1px solid rgba(25, 45, 233, 0.863) ;

}
.Search:hover{
  background-color: #006CBE;
  border:1px solid rgba(29, 28, 28, 0.863) ;
  cursor: pointer;

}
.print__1{
  display: flex;
  margin-right: 30px;
  height:40px;
  align-items: center;

}

.form__input_1 {

  padding: 12px;
  width: 22vh;
  background-color: rgba(245, 244, 238, 0.404);
  border:1px solid rgba(25, 45, 233, 0.863) ;
  border-radius: 4px;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
}
.form__input_1 >option{
  background-color:rgba(250, 251, 255, 0.863);
  border:1px solid rgba(25, 45, 233, 0.863) ;
  font-size: 14px;
  font-weight: 400;
  color:rgba(25, 45, 233, 0.863);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin: 20px; */
}
.form__input_1 >option:hover{
  background-color:rgba(250, 251, 255, 0.863);
  cursor: pointer;
}
.start__date >input{
  height: 40px;
  border-radius: 2px;
  border:1px solid rgba(25, 45, 233, 0.863) ;
  padding-left: 4px;
  padding-right: 4px;

}
.end_date >input{
  height: 40px;
  border-radius: 2px;
  border:1px solid rgba(25, 45, 233, 0.863) ;
  padding-left: 4px;
  padding-right: 4px;

}


.print{

background-color: #fdfdff;
min-width: 50px;
box-sizing: border-box;
height: 40px;
border:1px solid  #0004ff;
font-weight: 500;
border-radius: 2px;
justify-content:end;
text-align: center;
}
.print:hover{
  background-color: #006CBE;
  border:1px solid  #080808;
  cursor: pointer;
  border-radius: 2px;
}


.selected_duty {
  /* Style the entire select element */
  background-color: #eee; /* Example background color */
  border: 1px solid #ccc; /* Example border */
  padding: 5px; /* Example padding */
  border-radius: 4px; /* Example rounded corners */

}

.selected_duty option:first-child {
  /* Style the first option (default placeholder) */
  color: #aaa; /* Example color for default text */
  height: 40px;
}

.selected_duty option[selected] {

  /* Style the selected option */
  background-color: #ddd; /* Example background color for selected option */
  font-weight: bold; /* Example font weight for selected option */
}


@media print {
  .A__1{
    display: none;
  }
  .report__heading{
    align-items: center;
    justify-content: center;

  }
  .print{
    display: none;
  }
  .show__Addmission{
    /* display: flex; */
    align-items: center;
    margin-right: 5px;

  }
  .set_print{
    /* display: flex; */
    justify-content: center;
    margin-right: 10px;
  }
  .data__1{
    align-items: center;
  }
  .report__heading{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e8ecec;
    /* border-radius: 5px; */
    /* padding: 20px 0px; */
  }


}
