<div class="home__admission">

    <div *ngIf="home_AdmistionService.isAddNew" class="show__details">
      <div class="header">
        Home Addmission Member Details
      </div>

        <div class="title__1">
          <!-- <div></div> -->

          <div class="title__2">
            <div class="start__date ">Start Date</div>
            <div class="start__date"><input [(ngModel)]="start_date" type="date" (input)="input(start_date)" ></div>
            <span>{{message}}</span>
          </div>

          <div class="title__3">
            <div class="start__date ">End Date</div>
            <div class="start__date"><input [(ngModel)]="end_date" type="date" (input)="input(end_date)"></div>
            <!-- <span>{{message}}</span> -->
          </div>

            <div class="title__4">
            <button class="Search" (click)="loadAllAdmitions()">Search</button>
          </div>

          <div class="title__5">
            <button class="Search" (click)="home_AdmistionService.changeOption()"><span class="material-symbols-outlined"> add </span>Add New</button>
          </div>
          </div>

        <div class="list" >

            <table class="row1" >
                <tr >
                    <th>No</th>
                    <th>Member</th>
                    <th>Addmission Date</th>
                    <th>Reason</th>
                    <th>Room No</th>
                    <th>Bed Sores</th>
                </tr>

                <tr  class="data" *ngFor="let home_Admistion of home_AdmistionService.home_admistionList ; let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{home_Admistion.person_details_first_name}} {{home_Admistion.person_details_last_name}}</td>
                    <td>{{home_Admistion.admission_date }}</td>
                    <td>{{home_Admistion.disease }}</td>
                    <td>{{home_Admistion.room_no}}</td>
                    <!-- <td>{{home_Admistion.hospital_name}}</td>
                    <td>{{home_Admistion.discharge_date}}</td>
                    <td>{{home_Admistion.discharge_reason}}</td> -->
                    <td>{{home_Admistion.bed_sores_status}}</td>
                    <td><button  class="material-symbols-outlined buttons__edit" (click)="this.home_AdmistionService.editAdmistion(i)">edit</button></td>
                    <td><button  class="material-symbols-outlined buttons__discharge" (click)="this.home_AdmistionService.dischargePerson(i)">transfer_within_a_station</button></td>
                    <td><button  class="material-symbols-outlined buttons__delete" (click)="deleteHomeadmission(home_Admistion.id)">delete</button></td>
                </tr>
            </table>

        </div>

    </div>

    <div *ngIf="!home_AdmistionService.isAddNew" class="Addmission__new__add">

        <div class="header">

            <div class="title">
                New Addmission
            </div>

        </div>

        <div class="form__row1">
            <div class="form__data">


                    <table class="space" >
                        <div class="row1">


                            <tr >
                                <td><span class="form__name">If New</span></td>
                                <td><input  type="checkbox" class="checkbox" id="checkbox"  name="sendemail" [(ngModel)]="home_AdmistionService.home_admistionObj.if_new"></td>
                                <!-- <td><input id="checkbox" type="checkbox" name="sendemail" (change)="onChange($event)" [(ngModel)]="home_AdmistionService.home_admistionObj.if_new"></td> -->
                            </tr>


                            <tr>
                                <td><span class="form__name" >Member</span></td>
                                <!-- <mat-form-field appearance="fill">
                                  <mat-label>Select Admit Member</mat-label>
                                  <mat-select [(ngModel)]="home_AdmistionService.home_admistionObj.person_details_id" (openedChange)="onOpenChange(multiUserSearch)">
                                    <mat-select-trigger>
                                      <input #multiUserSearch type="text" autocomplete="off" placeholder="Search By Itemname" (input)="onInputChange($event)" class="form-control"/>
                                    </mat-select-trigger>
                                    <mat-option [value]="null" disabled>--Select Admit Member--</mat-option>
                                    <mat-option *ngFor="let personObj of person_detailsService.person_detailsList" [value]="personObj.id">
                                      {{personObj.first_name}} {{personObj.last_name}} {{personObj.district}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field> -->
                                    <td>
                                        <select type="text"  id="person" name="person" class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.person_details_id"  required>
                                            <option  [value]="null" [disabled]="true" [selected]="true">--Select Admit Member--</option>
                                            <option  *ngFor="let personObj of person_detailsService.person_detailsList" [value]="personObj.id">{{personObj.first_name}} {{personObj.last_name}}  {{personObj.district}}</option>
                                        </select>
                                    </td>
                            </tr>

                            <tr>
                                <td><span class="form__name">Addmission Date</span></td>
                                <td><input   type="date" class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.admission_date"  /></td>

                            </tr>

                            <tr>
                                <td><span class="form__name">Reason</span></td>
                                <td>
                                    <select type="text"  id="disease" name="disease" class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.disease"  required>
                                        <option  [value]="null" [disabled]="true" [selected]="true">--Select disease--</option>
                                        <option  placeholder=" Reason" *ngFor="let reasonObj of reasonArray" [value]="reasonObj.list_value"> {{reasonObj.list_value}}</option>
                                    </select>
                                </td>
                                <!-- <td><input  placeholder="Admit Reason" type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.disease"/></td> -->

                            </tr>

                            <tr>
                                <td><span class="form__name">Room No</span></td>
                                <td><input placeholder="Enter Room No" type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.room_no" /></td>

                            </tr>

                            <tr>
                                <td><span class="form__name">Given Things</span></td>
                                <td><input placeholder="Enter Given Things" type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.given_things"/></td>

                            </tr>

                            <tr>
                                <td><span class="form__name">Bed Sores</span></td>
                                <td><select  type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.bed_sores_status" >
                                    <option value="No">No</option>
                                    <option value="Ordinary">Ordinary</option>
                                    <option value="Serious">Serious</option>
                                </select></td>

                            </tr>

                            <tr>
                                <td><span class="form__name">Toilet Managing</span></td>
                                <td><input placeholder="Enter here"  type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.toilet_managing" /></td>

                            </tr>



                        </div>

                        <div class="row2">


                            <tr>
                                <td><span class="form__name">Urine Managing</span></td>
                                <td> <input placeholder="write here " type="text"  class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.urine_managing" >
                            </tr>

                            <tr>
                                <td><span class="form__name">Work In uyirilai</span></td>
                                <td> <input placeholder="write here " type="text"  class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.work_in_uyirilai" ></td>

                            </tr>

                            <tr>
                                <td><span class="form__name">Is Go Clinic</span></td>

                                    <td><input  class="check" id="checkbox"  type="checkbox" name="sendemail" [(ngModel)]="home_AdmistionService.home_admistionObj.is_go_clinic"></td>
                            </tr>

                            <tr *ngIf="home_AdmistionService.home_admistionObj.is_go_clinic">
                                <td><span class="form__name">Clinic Hospital Name</span></td>
                                <td><input placeholder="write here" type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.hospital_name" /></td>

                            </tr>

                            <tr >
                                <td><span class="form__name">Able To ActIndepend</span></td>
                                <td><input  class="check" id="checkbox" type="checkbox" name="sendemail" [(ngModel)]="home_AdmistionService.home_admistionObj.act_independently"></td>


                            </tr>

                            <tr>
                                <td><span class="form__name">Note </span></td>
                                <td><textarea placeholder="write Note" class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.note" ></textarea></td>

                            </tr>


                                <tr *ngIf="this.home_AdmistionService.dischargeButton">
                                    <td><span class="form__name">Dicharge Reason</span></td>
                                    <td><input placeholder="write Reason " type="text" class ="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.discharge_reason" /></td>

                                </tr>
                                <tr *ngIf="this.home_AdmistionService.dischargeButton">
                                    <td><span class="form__name">Discharge Date</span></td>
                                    <td><input  type="date" class="form__input" [(ngModel)]="home_AdmistionService.home_admistionObj.discharge_date" /></td>

                                </tr>


                    </div>
                    </table>


            </div>

        </div>

        <div class="form__row2">

            <button class="Submit__color" (click)="insertHomeAddmissionDetails()">Save</button>
            <button class="Discharge__color" (click)="home_AdmistionService.changeOption()">Back</button>

        </div>

    </div>

</div>
