<div  class="left-panal">

    <div [ngClass]="!mainService.isMinimized ?'left_menu':'left_menu_mini'">

        <a routerLink="/" class="menu" >
             <span class="material-symbols-outlined menu_icon">home</span>
             <span *ngIf="!mainService.isMinimized"  class="menu_name "> Home</span>
        </a>

        <a class="menu">
            <span class="material-symbols-outlined  menu_icon"> inventory  </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name">Main Details</span>
        </a>

        <a class="menu">
            <span class="material-symbols-outlined menu_icon"> input </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name"> In Stock</span>

        </a>

        <a class="menu">
            <span class="material-symbols-outlined menu_icon">output</span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name"> Out Stock</span>
        
        </a>


        <a routerLink="/nurseduty" routerLinkActive="active" class="menu">
            <span class="material-symbols-outlined menu_icon">ecg_heart </span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name"> Nurse Duty</span>
        
        </a>


        <a routerLink="/homeadmision" routerLinkActive="active" class="menu">
            <span class="material-symbols-outlined menu_icon">add_box </span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name"> Home Admistion</span>
        
        </a>


        <a routerLink="/search&report" routerLinkActive="active" class="menu">
            <span class="material-symbols-outlined menu_icon">content_paste_search </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name"> Search & Report</span>
        
        </a>


        <a routerLink="/notification" routerLinkActive="active" class="menu">
            <span class="material-symbols-outlined menu_icon">notifications</span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name">Notification</span>
        
        </a>


        <a routerLink="/settings" routerLinkActive="active" class="dropdown menu">
            <span class="material-symbols-outlined menu_icon"> settings</span>
             <span *ngIf="!mainService.isMinimized"  class="menu_name"> settings </span>
             <div [ngClass]="mainService.isMinimized ? 'dropdown-content__mini' : 'dropdown-content'" class="dropdown-content">
                <a routerLink="userDetails">User details</a>
                <a routerLink="person">Person Details</a>
                <a routerLink="dropdown">Dropdown</a>
                <a href="#">Log Info</a>
                
              </div>
            
                
             
        </a>


        <a class="menu">
            <span class="material-symbols-outlined menu_icon">  logout </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name">Lock Out</span>
        
        </a>




    </div>



</div>    
