<div class="left-panal">

    <div class="left_menu">

        <div class="menu">
             <span class="material-symbols-outlined menu_icon">home</span>
             <span *ngIf="!mainService.isMinimized"  class="menu_name"> Home</span>
        </div>

        <div class="menu">
            <span class="material-symbols-outlined  menu_icon"> inventory  </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name"> Goods Main Details</span>
        </div>

        <div class="menu">
            <span class="material-symbols-outlined menu_icon"> input </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name"> In Stock</span>

        </div>

        <div class="menu">
            <span class="material-symbols-outlined menu_icon">output</span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name"> Out Stock</span>
        
        </div>


        <div class="menu">
            <span class="material-symbols-outlined menu_icon">ecg_heart </span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name"> Nurse Duty</span>
        
        </div>


        <div class="menu">
            <span class="material-symbols-outlined menu_icon">add_box </span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name"> Home Admistion</span>
        
        </div>


        <div class="menu">
            <span class="material-symbols-outlined menu_icon">content_paste_search </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name"> Search & Report</span>
        
        </div>


        <div class="menu">
            <span class="material-symbols-outlined menu_icon">notifications</span>
            <span  *ngIf="!mainService.isMinimized" class="menu_name">Notification</span>
        
        </div>


        <div class="menu">
            <span class="material-symbols-outlined menu_icon"> settings</span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name"> settings</span>
        
        </div>

        <div class="menu">
            <span class="material-symbols-outlined menu_icon">  logout </span>
            <span *ngIf="!mainService.isMinimized"  class="menu_name">Lock Out</span>
        
        </div>




    </div>



</div>    
