<div class="container">
    <h1>Change Password</h1>
    <form action="#">
        <label for="change password Password">Current Password:</label>
        <input type="text" id="username" name="username" placeholder="Enter current password" required><br><br>

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your new password" required><br><br>

        <label for="password">Re-Enter Password:</label>
        <input type="password" id="password" name="password" placeholder="Re-Enter your password" required><br><br>

        <button type="submit">Continue</button>
        <button class="back" type="submit">Back</button>
    </form>
</div>