<div class="container">
    <h1>Change Password</h1>
    <form action="#">
        <label for="change password Password">Current Password:</label>
        <input [(ngModel)]="old_password" type="password" id="current_password" name="password" placeholder="Enter current password" required><br><br>

        <label for="New password">New Password:</label>
        <input [(ngModel)]="new_password" type="password" id="New_password" name="password" placeholder="Enter your new password" required><br><br>

        <label for="Re-enter password">Re-Enter Password:</label>
        <input [(ngModel)]="confirmpassword" type="password" id="re_password" name="password" placeholder="Re-Enter your password" required><br><br>

        <button type="submit" (click)="changepassword()">Continue</button>
        <button class="back" type="submit" (click)="changeOption()" >Back</button>
    </form>
</div>
