.body1 {


    /* background-image: url("path/to/your/image.jpg"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    background-color: rgba(59, 112, 211, 0.849);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.checkbox {
    margin-top: 10px;
}

.checkbox label {
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 252, 252);
    color: #020202;
}


.back{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-left:11.5vw;
    justify-content: flex-end;

}


button {
    background-color: #3ebea5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease all;
}

button:hover {
    background-color: #08b3a1;
}
.error
{
  color: red;
}
