<div class="container">
  <h1>Change Password</h1>
  <form #changePasswordForm="ngForm" (ngSubmit)="changepassword(changePasswordForm)">
      <label for="current_password">Current Password:</label>
      <input [(ngModel)]="old_password" type="password" id="current_password" name="current_password" placeholder="Enter current password" required>
      <div *ngIf="currentPasswordError" class="error">{{ currentPasswordError }}</div>
      <br><br>

      <label for="new_password">New Password:</label>
      <input [(ngModel)]="new_password" type="password" id="new_password" name="new_password" placeholder="Enter your new password" required>
      <div *ngIf="newPasswordError" class="error">{{ newPasswordError }}</div>
      <br><br>

      <label for="re_password">Re-Enter Password:</label>
      <input [(ngModel)]="confirmpassword" type="password" id="re_password" name="re_password" placeholder="Re-Enter your password" required>
      <div *ngIf="confirmPasswordError" class="error">{{ confirmPasswordError }}</div>
      <br><br>

      <button type="submit">Continue</button>
      <button class="back" type="button" (click)="changeOption()">Back</button>
  </form>
</div>
