<div class="home__admission">

    <div *ngIf="user_detailsService.isAddNew" class="show__Addmission">
        <div class="header">

            <div class="title">
                User Details
            </div>

            <div class="option">
                <button class="show__button" (click)="changeOption()" ><span class="material-symbols-outlined"> add </span>New</button>
            </div>

        </div>

        <div class="list" >

            <table class="row1" >
                <tr >

                <th>No</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Privilege</th>
                <th>Create Date</th>
                <th>Create By</th>


                </tr>

                <tr  class="data" *ngFor="let userdetals of user_detailsService.userdetailsList ; let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{ userdetals.userid}}</td>
                    <td>{{ userdetals.user_name }}</td>
                    <td>{{ userdetals.privilege }}</td>
                    <td>{{ userdetals.create_date}}</td>
                    <td>{{ userdetals.create_by}}</td>
                    <td><button  class="material-symbols-outlined buttons__edit"  (click)="edit_user(i)">edit</button></td>
                    <td><button  class="material-symbols-outlined buttons__delete" (click)="delete_user(userdetals.id)" >delete</button></td>
                  </tr>
            </table>

        </div>

    </div>

    <div *ngIf="!user_detailsService.isAddNew" class="Addmission__new__add">

        <div class="header">

            <div class="title">
               User Details
            </div>

        </div>

        <div class="form__row1">
            <div class="form__data">

                <form [formGroup]="user_detailReactiveForm">
                    <table class="space" >
                        <div class="row1">

                            <tr>
                                <td><span class="form__name">User Id</span></td>
                                <td><input formControlName="userid" type="text" class="form__input"  />
                            </tr>

                            <tr>
                                <td><span class="form__name">User Name</span></td>
                                <td><input formControlName="user_name"  type="text" class="form__input"  />
                            </tr>

                            <tr *ngIf="changeButton">
                                <td><label  class="form__name" for="password">Password:</label></td>
                                <input formControlName="password" type="password" id="password" name="password" class="form__input"  required>
                            </tr>

                            <tr  *ngIf="changeButton">
                                <td><label  class="form__name" for="confirmPassword">Confirm Password</label></td>
                                    <input formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" class="form__input"  required>

                            </tr>

                            <tr>
                                <td><span class="form__name">Privilege</span></td>

                                  <td>
                                      <select type="text"  id="privilege" name="privilege" class="form__input" formControlName="privilege"  required>
                                          <option  [value]="null" [disabled]="true" [selected]="true">--Select privilege--</option>
                                          <option  placeholder=" privilege" *ngFor="let privilegeObj of loginArray" [value]="privilegeObj.list_value"> {{privilegeObj.list_value}}</option>
                                      </select>
                                  </td>
                                  <!-- <td><input  type="text" class="form__input" [(ngModel)]="nurse_dutyService.nurse_dutyObj.duty_option" > -->

                              </tr>

                        </div>
                    </table>

                </form>

            </div>

        </div>

        <div class="form__row2">

            <button class="Submit__color" (click)="insert_user_Details()" >Submit</button>
            <button class="Discharge__color" (click)="changeOption()" >Back</button>


        </div>

    <!-- </div>

</div>
 -->
