<div class="home__admission">

  <!-- Existing code for showing existing users -->
  <div *ngIf="!user_detailsService.isAddNew" class="show__details">

          <div class="header">
              User Details
          </div>

          <div class="title__1">
            <div class="title__2">
              <div class="start__date ">Start Date</div>
              <div class="start__date"><input [(ngModel)]="start_date" type="date" (input)="input(start_date)"></div>
            </div>

            <div class="title__3">
              <div class="start__date ">End Date</div>
              <div class="start__date"><input [(ngModel)]="end_date" type="date" (input)="input(end_date)"></div>
              <!-- <span>{{message}}</span> -->
            </div>

            <div class="title__4">
              <button *ngIf="!Search" class="Search"  (click)="loadAll_User()">Search</button>
            </div>

            <div class="title__5">
              <button class="Search" (click)="changeOption()"><span class="material-symbols-outlined"> add </span>Add New</button>
            </div>

          </div>
          <div class="title__6"><span>{{message1}}</span></div>

      <div class="list">
          <table class="row1">
              <tr>
                  <th>No</th>
                  <th>User Id</th>
                  <th>User Name</th>
                  <th>Privilege</th>
                  <th>Create Date</th>
                  <th>Create By</th>
              </tr>

              <!-- Iterate over user details -->
              <tr class="data" *ngFor="let userdetails of user_detailsService.userdetailsList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ userdetails.userid }}</td>
                  <td>{{ userdetails.user_name }}</td>
                  <td>{{ userdetails.privilege }}</td>
                  <td>{{ userdetails.create_date }}</td>
                  <td>{{ userdetails.create_by }}</td>

                  <td><button  class="material-symbols-outlined buttons__edit"(click)="edit_user(i)">Edit</button></td>
                  <td><button  class="material-symbols-outlined buttons__delete" (click)="delete_user(userdetails.id)">Delete</button>
                  <td>

                  <!-- </td>
                  <td>
                    <button class="material-symbols-outlined buttons__edit" (click)="edit_user(i)">Edit</button>
                      <button class="material-symbols-outlined buttons__delete" (click)="delete_user(userdetails.id)">Delete</button>
                  </td> -->
              </tr>
          </table>
      </div>
  </div>

  <!-- Form for adding new user -->
</div>
<div class="home__admission">
  <div *ngIf="user_detailsService.isAddNew" class="show__details">
      <div class="header__1">User Details <div class="message" *ngIf="message">{{ message1 }}</div>
      <div *ngIf="errorMessage">{{ errorMessage }}</div></div>

    <br class="br__color">


    <div class="form__row1">
          <div class="form__data" >
              <!-- Existing form code with form group and form controls -->
              <form class="row" [formGroup]="user_detailReactiveForm" (ngSubmit)="insert_user_Details()">
                <div class="group__1">
                          <div class="input-group">
                            <input formControlName="userid" required="" type="text" name="text" autocomplete="off" class="input form__name">
                            <label class="user-label">User ID</label>
                              <div *ngIf="user_detailReactiveForm.controls['userid'].invalid && user_detailReactiveForm.controls['userid'].touched">User ID is required.</div>
                              <div *ngIf="user_detailReactiveForm.controls['userid'].hasError('useridTaken') && user_detailReactiveForm.controls['userid'].touched">
                                  User ID is already taken.
                              </div>
                          </div>

                          <div class="input-group">
                              <input formControlName="user_name" required="" type="text" name="text" autocomplete="off" class="input form__name">
                              <label class="user-label">User Name</label>
                              <div *ngIf="user_detailReactiveForm.controls['user_name'].invalid && user_detailReactiveForm.controls['user_name'].touched">
                                  User Name is required.
                              </div>
                          </div>

              

                  <div *ngIf="changeButton">
                    <td>
                      <div class="input-group">
                        <input formControlName="password" required="" type="text" name="text" autocomplete="off" class="input form__name">
                        <label class="user-label">Password</label></div></td>
                  
                        <div *ngIf="user_detailReactiveForm.controls['password'].invalid && user_detailReactiveForm.controls['password'].touched">
                          Password is between 8-16 characters long.
                        </div>
                    
                  </div>

                  <div *ngIf="changeButton">
                  <div class="input-group">
                    <input formControlName="confirmPassword" required="" type="text" name="text" autocomplete="off" class="input form__name" required>
                    <label class="user-label">Conform Password</label></div>
                    <td>
                        <div *ngIf="user_detailReactiveForm.controls['confirmPassword'].invalid && user_detailReactiveForm.controls['confirmPassword'].touched">

                        </div>
                        <div *ngIf="!checkpassword() && user_detailReactiveForm.controls['confirmPassword'].touched">
                            Passwords do not match.
                        </div>
                    </td>
                  </div>

                  <div class="input-group">
                  
                    <label class="user-label"> Privilege</label>
                      <select type="text"  id="privilegeObj" name="privilegeObj" autocomplete="off"  formControlName="privilege" class="input"  required>
                          <!-- <option  [value]="null" [disabled]="true" [selected]="true">--Select Designation Name --</option> -->
                          <option   *ngFor="let privilegeObj of loginArray" [value]="privilegeObj.list_value"> {{privilegeObj.list_value}}</option>
                      </select>
                  </div>
                </div>
              </form>
          </div>

          <div class="form__row2">
            <button class="Submit__color" type="submit">Submit</button>
            <button (click)="changeOption()">Back</button>
          </div>
    
    </div>
    
    

  </div>

  
</div>

