/* Style for form rows */
.form__row1 {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust the gap between form elements */
  align-items: center;
  align-content: center;
  width: 85%;
}

/* Style for each form field */
.form__row1 .form__name {
  margin-bottom: 5px;
  font-weight: bold;
}

.form__row1 .form__input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__row1 .form__input:focus {
  outline: none;
  border-color: dodgerblue;
}

/* Additional styles for error messages */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Style for form buttons */
.form__row2 {

  display: flex;
  position: absolute;
  width: 75%;
  /* align-items: center; */
  justify-content:flex-end;
  margin-top: 2px;
  margin-right: 5px;
  bottom: 100px;
}
.form__row2 > button {

  padding: 8px;
  margin-left: 8px;
  margin-right:5px ;
  cursor: pointer;
  /* background-color: brown; */
}

.form__row2 >button {

  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.form__row2 button:hover {
  background-color: #007bff;
}

/* Style for success and error messages */
.message {
  margin-top: 10px;
  font-weight: bold;
  color: green;

}

.error {
  color: red;
}
.input-group {
  position: relative;
  padding-bottom: 8px;
  padding-top: 4px;
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  width: 38vh;
  font-size: 1rem;
  color: #181717;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
  position: absolute;
  left: 15px;
  color: #070707;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 .2em;
  color: #1a73e8
}
.home__admission{
  display: flex;

}
.br__color{
  width: 100%;
  border-bottom:1px solid red;
}
.show__details{
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  height: fit-content;
  padding: 4px;
  color: blue;
  width: 100%;


}
.title__1{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;
}

.title__2{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;
  align-items: center;

}
.start__date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-right: 8px;

}
.start__date> input{
  border: 1px solid blue;


}
.title__3{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;

}
.title__4{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;


}
.Search{
  border: 1px solid blue;
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
}
.title__5{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;

}
.title__6{
  color: red;
  display: flex;
  padding: 8px;
  text-align: center;

}


/* button {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
} */
button:hover {
  /* background-color: #23c483; */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform:translateY(-2px);
}
button:active {
  transform: translateY(-1px);
}
.Search:hover{
  background-color: #006CBE;
  border:1px solid rgba(29, 28, 28, 0.863) ;
  cursor: pointer;

}

th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  /* border-collapse:collapse; */
}
.home__admission__1{
  background-color: #be0009;
  display: flex;
  justify-content: space-between;

}
.header__1{
  display: flex;
  justify-content: space-between;
  /* box-shadow: #181717; */
  border-bottom: 1px solid blue;
  width: 92vw;
  padding-right: 10vw;

}
.row1>tr{
  color: white;
  
}
.data{
  color: white;
}
.message{
  color: #be0009;

}
.row{

  align-content: center;
}
form{
  align-content: center;
  align-items: center;
}
.group__1{
  background-color: red;
}
.group__1{
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: #e2ebf3;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
  border: 1px solid blue;
}
.group__1:hover{
  background-color: #fff;;

}
