<div class="home__admission">

  <!-- Existing code for showing existing users -->
  <div *ngIf="user_detailsService.isAddNew" class="show__Addmission">
      <div class="header">
          <div class="title">
              User Details
          </div>
          <div class="option">
              <button class="show__button" (click)="changeOption()">
                  <span class="material-symbols-outlined"> add </span>New
              </button>
          </div>
      </div>

      <div class="list">
          <table class="row1">
              <tr>
                  <th>No</th>
                  <th>User Id</th>
                  <th>User Name</th>
                  <th>Privilege</th>
                  <th>Create Date</th>
                  <th>Create By</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>

              <!-- Iterate over user details -->
              <tr class="data" *ngFor="let userdetails of user_detailsService.userdetailsList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ userdetails.userid }}</td>
                  <td>{{ userdetails.user_name }}</td>
                  <td>{{ userdetails.privilege }}</td>
                  <td>{{ userdetails.create_date }}</td>
                  <td>{{ userdetails.create_by }}</td>

                  <td><button  class="material-symbols-outlined buttons__edit"(click)="edit_user(i)">Edit</button></td>
                  <td><button  class="material-symbols-outlined buttons__delete" (click)="delete_user(userdetails.id)">Delete</button>
                  <td>

                  <!-- </td>
                  <td>
                    <button class="material-symbols-outlined buttons__edit" (click)="edit_user(i)">Edit</button>
                      <button class="material-symbols-outlined buttons__delete" (click)="delete_user(userdetails.id)">Delete</button>
                  </td> -->
              </tr>
          </table>
      </div>
  </div>

  <!-- Form for adding new user -->
  <div *ngIf="!user_detailsService.isAddNew" class="Addmission__new__add">
      <div class="header">
          <div class="title">
              User Details
          </div>
      </div>

      <div class="form__row1">
          <div class="form__data">
              <!-- Existing form code with form group and form controls -->
              <form [formGroup]="user_detailReactiveForm" (ngSubmit)="insert_user_Details()">
                  <table class="space">
                      <tr>
                          <div class="input-group">
                            <input formControlName="userid" required="" type="text" name="text" autocomplete="off" class="input">
                            <label class="user-label">User ID</label>
                              <div *ngIf="user_detailReactiveForm.controls['userid'].invalid && user_detailReactiveForm.controls['userid'].touched">User ID is required.</div>
                              <div *ngIf="user_detailReactiveForm.controls['userid'].hasError('useridTaken') && user_detailReactiveForm.controls['userid'].touched">
                                  User ID is already taken.
                              </div>
                            </div>
                      </tr>
                      <tr>
                          <div class="input-group">
                              <input formControlName="user_name" required="" type="text" name="text" autocomplete="off" class="input">
                              <label class="user-label">User Name</label>
                              <div *ngIf="user_detailReactiveForm.controls['user_name'].invalid && user_detailReactiveForm.controls['user_name'].touched">
                                  User Name is required.
                              </div>
                          </div>
                      </tr>

                      <tr *ngIf="changeButton">
                          <td>
                            <div class="input-group">
                              <input formControlName="password" required="" type="text" name="text" autocomplete="off" class="input">
                              <label class="user-label">Password</label></div></td>
                          <td>
                              <div *ngIf="user_detailReactiveForm.controls['password'].invalid && user_detailReactiveForm.controls['password'].touched">
                                  Password is required and must be between 8 and 16 characters long.
                              </div>
                          </td>
                      </tr>

                      <tr *ngIf="changeButton">
                        <div class="input-group">
                          <input formControlName="confirmPassword" required="" type="text" name="text" autocomplete="off" class="input" required>
                          <label class="user-label">Conform Password</label></div>
                          <td>
                              <div *ngIf="user_detailReactiveForm.controls['confirmPassword'].invalid && user_detailReactiveForm.controls['confirmPassword'].touched">

                              </div>
                              <div *ngIf="!checkpassword() && user_detailReactiveForm.controls['confirmPassword'].touched">
                                  Passwords do not match.
                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>
                        <div class="input-group">
                          <td>
                          <label class="user-label"></label>
                            <select type="text"  id="privilegeObj" name="privilegeObj" autocomplete="off" class="input" formControlName="privilege"   required>
                                <!-- <option  [value]="null" [disabled]="true" [selected]="true">--Select Designation Name --</option> -->
                                <option   *ngFor="let privilegeObj of loginArray" [value]="privilegeObj.list_value"> {{privilegeObj.list_value}}</option>
                            </select>
                          </td>
                        </div>
                        <!-- <td><input  type="text" class="form__input" [(ngModel)]="nurse_dutyService.nurse_dutyObj.duty_option" > -->

                          </td>
                        </tr>


                  </table>
                  <div class="form__row2">
                    <button class="Submit__color" type="submit">Submit</button>
                    <button class="Discharge__color" (click)="changeOption()">Back</button>

                  </div>

              </form>
              <div class="form__row2">
                <div *ngIf="message">
                    {{ message }}
                </div>
                <div *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </div>
          </div>
      </div>


  </div>

</div>
