/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


/* Order */


* {
    margin: 0;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-background-color: #333333;
  --sidebar-text-color: #ffffff;
}

body.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --sidebar-background-color: #111111;
  --sidebar-text-color: #cccccc;
}
body {
    height:100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    transition: background-color 0.3s, color 0.3s;
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }

  .main-content {
    transition: margin-left 0.3s ease;
  }

  .main-content.open {
    margin-left: 250px;
  }


.color_white {
    color: rgb(20, 21, 22);
    padding-left: 6%;
}
.icon_big {
    font-size: 40px;
}

.left_menu {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.menu{
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    /* background-color: rgba(95, 100, 104, 0.521); */

}

.menu:hover{
    background-color: rgba(81, 166, 206, 0.815);
    border-radius: 5px;
    cursor: pointer;
}
.menu_icon {

    font-size: 30px;
    cursor: pointer;

}
.menu_name{
    font-size: 20px;
    /* font-weight: bold; */
    cursor: pointer;

}

.header{

  border-radius: 5px;
  /* background-color: rgba(135, 197, 194, 0.774); */
  justify-content: space-between;
  display: flex;
  width: 100%;


}

.title{

  font-size: 20px;
  font-weight:500;
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgba(69, 179, 212, 0.781);
  width: 100%;
  border-radius: 8px;
  justify-content: center;
  padding-bottom: 10px;
}

.option {
  padding: 2px;

}
.show__button   {

  background-color: #89ac0bc0;
  padding: 8px;
  border: none;
  padding-left: 5px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  }
.show__button:hover{

  background-color: aqua;
  text-align: center;
}

.tr__input  {

  padding: 5px;
  background-color: rgba(218, 208, 208, 0.418);
  width: 40vh;
  border: none;
  margin-bottom: 5px;
  border-radius: 8px;
  }
/* check box design
*/
input[type="checkbox"]{
  width: 30px;
  height:25px;
  border: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.row1 > tr{

      padding: 5px;
      /* background-color: rgba(148, 140, 27, 0.527); */
      width: 50vw;
      border: none;
      margin-bottom: 5px;
      border-radius: 8px;
      justify-content: center;
      text-align: center;


  }
  .row> tr{

    padding: 5px;
    /* background-color: rgba(148, 140, 27, 0.527); */
    width: 35vw;
    border: none;
    margin-bottom: 5px;
    border-radius: 8px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;


}

.row1 > tr {
  /* display: flex; */
  justify-content:flex-start;
  text-align: start;
}
.form__row1 {
  display: flex;
  width: 100%;

}

.Addmission__new__add{
  display: flex;
  flex-direction: column;
}
.space{
  display: flex;
  padding-left: 10px;

}
.space1{
  display: flex;
  padding-left: 10px;

}

.row2 {
 /* justify-content: flex-start; */
 margin-left: 20vh;
}
.form__data {


margin-top: 12px;
justify-content:space-between;
display: flex;


}

.form__name {

  font-weight:500;
  font-size: 20px;
  padding-right: 10px;

}
.data >td{

  border-radius: 8px;
  text-align: center;


}

.row2> tr> td> textarea{
  display: flex;
}
.row1 > tr >th{

  padding: 5px;
  background-color: rgba(207, 194, 194, 0.123);
  padding-bottom: 20px;
  font-weight: bolder;
  width: 38vh;
  border: none;
  margin-bottom: 5px;
  border-radius: 8px;
}
.data {
  padding: 5px;
  background-color: rgba(223, 215, 215, 0.116);
  border: none;
  margin-bottom: 5px;
  border-radius: 8px;
  text-align: center;
}

.buttons__edit{

  /* background-color: #3ad413c9; */
  padding: 4px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: none;

}
.buttons__edit:hover{

  background-color: #3861e6da;
}

.buttons__discharge{

  background-color: #cc5234f3;
  padding: 4px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  display: flex;

  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.Search{
  display: flex;
  margin-left: 30px;
  height:40px;
  align-items: center;
  /* border: none; */
  border:1px solid rgba(25, 45, 233, 0.863) ;

}
/* .Search:hover{
  background-color: #006CBE;
  border:1px solid rgba(29, 28, 28, 0.863) ;
  cursor: pointer;

} */
.print__1{
  display: flex;
  margin-right: 30px;
  height:40px;
  align-items: center;


}
/* button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
} */

/* button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
} */

/* button:active {
  transform: translateY(-1px);
} */

.form__input_1 {

  padding: 12px;
  margin-left: 5px;
  width: 22vh;
  font-weight: 450;
  background-color: rgba(245, 244, 238, 0.404);
  border:1px solid rgba(25, 45, 233, 0.863) ;
  border-radius: 4px;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
}
.form__input_1 >option{
  background-color:rgba(250, 251, 255, 0.863);
  border:1px solid rgba(25, 45, 233, 0.863) ;
  font-size: 14px;

  font-weight: 400;
  color:rgba(25, 45, 233, 0.863);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin: 20px; */
}

.form__input_1 >option{
  background-color:rgba(250, 251, 255, 0.863);
  border:1px solid rgba(25, 45, 233, 0.863) ;
  font-size: 14px;

  font-weight: 400;
  color:rgba(25, 45, 233, 0.863);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin: 20px; */
}


.form__input_1 >option:hover{
  background-color:rgba(250, 251, 255, 0.863);
  cursor: pointer;
}
.start__date >input{
  height: 40px;
  border-radius: 4px;
  border:1px solid rgba(25, 45, 233, 0.863) ;
  padding-left: 4px;
  padding-right: 4px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}
.end_date >input{
  height: 40px;
  border-radius: 4px;
  border:1px solid rgba(25, 45, 233, 0.863) ;
  padding-left: 4px;
  padding-right: 4px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}
.buttons__discharge:hover{

  background-color: #c23f17da;

}
.buttons__delete{

  background-color: #e47a68f3;
  padding: 4px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  display: flex;

  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttons__delete:hover{
  background-color: rgba(255, 13, 13, 0.842);
}
.form__input {

  padding: 12px;
  width: 38vh;
  background-color: rgba(202, 201, 194, 0.404);
  border: none;
  border-radius: 8px;


}

.form__row2 {

  display: flex;
  width: 90%;
  /* align-items: center; */
  justify-content:flex-end;
  margin-top: 2px;
  margin-right: 5px;
}
.form__row2 > button {

  padding: 8px;
  margin-left: 8px;
  margin-right:5px ;
  cursor: pointer;
  /* background-color: brown; */
}
.Submit__color {

  background-color:rgba(77, 223, 92, 1);
}
.edit__color {

  background-color:rgba(255, 255, 0, 1);
}

.Discharge__color {

  background-color:rgba(223, 77, 191, 0.81);
}
.Delete__color {

  background-color: rgba(243, 35, 35, 1);
}
.form__data > form > table > tr > td > span {
  font-size: large;
  width: 30%;
  padding-right: 25px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


