<div class="home__admission">

    <div *ngIf="drop_downServise.isAddNew" class="show__Addmission">
        <div class="header"> 

            <div class="title">
                Drop Down List
            </div>

            <div class="option">
                <button class="show__button" (click)="drop_downServise.changeOption()" ><span class="material-symbols-outlined"> add </span>New</button>
            </div>

        </div>

        <div class="list" >

            <table class="row1" >
                <tr > 
                    <th>No</th>
                    <th>List Type</th>
                    <th>List Value</th>
                    <th>Filter_by</th>
                </tr>

                <tr  class="data" *ngFor="let dropdown of drop_downServise.drop_downList ; let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{ dropdown.list_type}}</td>
                    <td>{{ dropdown.list_value }}</td>
                    <td>{{ dropdown.filter_by }}</td>
                    <td><button  class="material-symbols-outlined buttons__edit"  (click)="drop_downServise.edit_Dropdown(i)">edit</button></td>
                    <td><button  class="material-symbols-outlined buttons__delete" (click)="delete_dropDown(dropdown.id)" >delete</button></td>
                  </tr>              
            </table>

        </div>

    </div>

    <div *ngIf="!drop_downServise.isAddNew" class="Addmission__new__add">
        
        <div class="header">

            <div class="title">
                Drop Down List
            </div>

        </div>

        <div class="form__row1">
            <div class="form__data">

                <!-- <form> -->
                    <table class="space" >
                        <div class="row1">

                            <tr>
                                <td><span class="form__name">List Type</span></td>
                                <td><input  type="text" class="form__input"  [(ngModel)]="drop_downServise.drop_DownObj.list_type"/>
                            </tr>

                            <tr>
                                <td><span class="form__name">List Value</span></td>
                                <td><input   type="text" class="form__input" [(ngModel)]="drop_downServise.drop_DownObj.list_value" />
                            </tr>

                            <tr>
                                <td><span class="form__name">Filter By</span></td>
                                <td><input   type="text" class="form__input" [(ngModel)]="drop_downServise.drop_DownObj.filter_by"  /></td>

                            </tr>

                        </div>

                    </table>
                    
                <!-- </form> -->

            </div>

        </div>

        <div class="form__row2">

            <button class="Submit__color" (click)="insert_drop_downDetails()"  >Submit</button>
            <button class="Discharge__color" (click)="drop_downServise.changeOption()"  >Back</button>
            
        </div>

