.form__row1{

    height: fit-content;
    background-color: none;
}
.title_1
{
  font-size: 20px;
  font-weight:500;

}
table{
  /* border-bottom: 1px solid black; */
  border-top: 1px solid black;

}
th{
  border-bottom: 1px solid black;
  /* border-top: 1px solid black; */
  /* border-collapse:collapse; */
}

.header{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  height: fit-content;
  padding: 4px;
  color: blue;


}
