.footer {

  height: 8vh;
  width: 100%;
  background-color:#071e42;
  display: flex;
  bottom:0;
  align-items: center;
  justify-content: center;
  position: relative;

}
@media print {
  .footer {
    display: none;
    }

}

.footer_copyright {

  color: rgba(245, 245, 245, 0.89);
  text-align: center;
  justify-content: center;
  display: flex;
  /* align-items: center; */
  padding: 4px;

}
p{
  align-items: center;
  margin: 0;
}
